@import url('https://fonts.googleapis.com/css2?family=Maitree&display=swap');

body{
    background-color: #F7F1E3;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.wrap{
    position: relative;
    width: 100vw;
    height: 600vh;
    overflow-x: hidden;
}
.wrap:nth-child(odd){
    z-index: -2;
}
.content{
    margin-top: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.text{
    z-index: -1;
    transition: 1s;
    font-family: 'Maitree', serif;
    font-weight: 400;
    color: #246F2C;
    position: fixed;
    margin: 0;
    font-size: 1.5vmax;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.text[data-text="seventh"]{
    transition: 1.5s;
}
.text[data-text="eighth"]{
    transition-delay: .5s;
    transition: 1.25s;
}

.model{
    width: 200px;
    height: 200px;
    transition: 1s;
    position: fixed;

}
img.model{
    background-color: rgba(255, 0, 0, 0);
}
.model[data-img="bigTemple"]{
    width: 30vmax;
    height: auto;
    left: calc(50% - 16vmax);
}
.model[data-img="smallTemple"]{
    width: 25vmax;
    height: auto;
}
.model[data-img="Tak"]{
    position: fixed;
    left: calc(50% - 9vmax);
    transition: 1.5s;
    width: 18vmax;
    height: auto;
}
.model[data-img="women"]{
    width: 19.5vmax;
    height: auto;
    transition: 1.5s;
    position: fixed;
}
.model[data-img="solder1"]{
    width: 11vmax;
    height: auto;
}
.model[data-img="solder2"]{
    width: 15vmax;
    height: auto;
}
.model[data-img="solder3"]{
    width: 8.5vmax;
    height: auto;
    transition: 1.25s
}
.model[data-img="river"]{
    width: 100vw;
    height: 60vh;
}
.model[data-img="house"]{
    width: 32vmax;
    height: auto;
    z-index: 1;
    bottom: 15vh;
    transition: 1.5s;
}
.model[data-img="pro_people1"]{
    width: 12vmax;
    height: auto;
    transition: 1.5s;
}
.model[data-img="pro_people2"]{
    width: 11vmax;
    height: auto;
    transition: 1.5s;
}
.model[data-img="people1"]{
    width: 15vmax;
    height: auto;
    transition: 1.55s;
}
.model[data-img="people2"]{
    width: 8vmax;
    transition: 1.55s;
    height: auto;
}
.model[data-img="people3"]{
    z-index: -1;
    transition: 1.55s;
    width: 18vmax;
    height: auto;
}
.model[data-img="people4"]{
    width: 10vmax;
    height: auto;
    transition: 1.55s;
}
.model[data-img="paihistory"]{
    width: 40vmax;
    height: auto;
    left: calc(50% - 20vmax);
}
.model[data-img="people5"]{
    width: 11vmax;
    height: auto;
    right: 0;
    bottom: 0%;
}
.model[data-img="oldman"]{
    width: 15vmax;
    height: auto;
    z-index: -1;
    transition: 1.5s;
}
.model[data-img="kudichin"]{
    width: 30vw;
    height: auto;
    left: calc(50% - 15vw);
}

#second > .content > .model:nth-child(2){
    bottom: calc(50% - 10vmax);
    transform: scaleX(-1);
}
#second > .content > .model:nth-child(3){
    bottom: calc(50% - 10vmax);
}
#first > .content > .model{
    position: fixed;
}
#third > .content > .model:nth-child(1){
    width: 13vmax;
    transition: 1.75s;
}
#third > .content > .model:nth-child(2){
    transition: 1.1s
}
#third > .content > .model:nth-child(4){
    transition: 1.5s
}
#third > .content > .model:nth-child(5){
    transition: 1.5s
}


.navbar{
    margin: 15%;
    margin-top: 190px;
    position: relative;
    margin-bottom: 0;
    width: auto;
    height: 2.5vw;
    background-color: #F6DCC7;
    border-radius: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
    align-items: flex-end;
}
.iconplace{
    width: 12%;
    min-width: 44.2px;
    height: auto;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
}
.iconplace img{
    min-width: 44.2px;
}

/*menu bar*/
.topicon{
    top: 35px;
    cursor: pointer;
    position: fixed;
    z-index: 100;
}
.kudi_icon{
    left: 3.5vh;
    width: 120px;
}
.topicon_mainmenu{
    top: 25px;
    cursor: pointer;
    position: fixed;
    z-index: 100;
}
.homemain_icon{
    right: 4.5vh;
    width: 68px;
}
.topicon_menubar{
    width: 70px;
    top: 60px;
    padding-top: 5vh;
    padding-bottom: 2vh;
    padding-left: 1vh;
    padding-right: 1vh;
    background-color: #F6DCC7;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
    cursor: pointer;
    position: fixed;
    z-index: 100;
}
.home_icon{
    right: 4vh;
    width: 62px;
    margin-top: 0.2vh;
}
#menubar{
    right: 3.4vh;
    display: none;
    text-align: center;
}
#menubar a{
    text-decoration: none;
    display: block;
    margin-bottom: 1vh;
    font-family: 'Maitree', serif;
}

.text_menu {
    display: none;
    color: #E85555;
    font-size: 0.7em;
    font-family: 'Maitree', serif;
    margin-top: -1vh;
}

/*footer*/
.navbar{
    margin: 25vmin;
    margin-top: 10%;
    position: relative;
    margin-bottom: 0;
    width: auto;
    height: 3.5vw;
    background-color: #F6DCC7;
    border-radius: 5vh;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    align-items: baseline;
    align-content: flex-end;
    flex-wrap: wrap;
}
.navbar a{
    text-decoration: none;
}
.iconplace{
    width: 12%;
    min-width: 44.2px;
    height: auto;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
}
.iconplace img{
    min-width: 13vmin;
}
.iconfooter{
    height: auto;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 22vmin;
    text-align: center;
    align-items: center;
}
.text_footer {
    color: #E85555;
    font-size: 0.8em;
    font-family: 'Maitree', serif;
}


/* portrait */
@media screen  and (orientation: portrait){
    .text{
        font-size: 2.1vmax;
        /* text-align: left; */
        /* text-indent: 5vw; */
        text-align: left;
        width: 80%;
        left: calc(50% - 40%);
    }
    br[data-display="landscape"]{
        display: none;
    }
    .model[data-img="solder1"]{
        width: 25vmax;
    }
    .model[data-img="solder2"]{
        width: 30vmax;
    }
    .model[data-img="solder3"]{
        width: 17.5vmax;
        transition: 1.5s;
        z-index: -2;
    }
    #third > .content > .model:nth-child(1){
        z-index: -1;
        width: 23vmax;
    }
    #third > .content > .model:nth-child(2){
        z-index: 1;
    }
    #third > .content > .model:nth-child(4){
        z-index: -3;
    }
    #third > .content > .model:nth-child(5){
        width: 20vmax;
        z-index: -1;
    }
    .model[data-img="river"]{
        width: 180vw;
        height: 30vh;
        transition: 1.5s;
        left: 0vw;
    }
    .model[data-img="house"]{
        width: 100vw;
        z-index: 1;
        bottom: 20vh;
        transition: 1.5s;
        max-width: 600px;
    }
    #fifth > .content > .model:nth-child(1){
        width: 20vmax;
        /* right: 0; */
        /* top: 25%; */
    }
    #fifth > .content > .model:nth-child(2){
        width: 18vmax;
        /* left: 0; */
        /* top: 25%; */
    }
    .model[data-img="people1"]{
        width: 19vmax;
    }
    .model[data-img="people2"]{
        width: 10.5vmax;
    }
    .model[data-img="people3"]{
        z-index: -1;
        width: 20.5vmax;
    }
    .model[data-img="people4"]{
        width: 12.5vmax;
    }
    .model[data-img="oldman"]{
        width: 21vmax;
    }
    .text[data-text="sixth"]{
        transition: 1.5s;
    }
    .model[data-img="kudichin"]{
        width: 30vmax;
        left: calc(50% - 15vmax);
    }
}


@media screen and (max-width: 479px){
    .text_menu {
        display: block;
    }
    /*footer*/
    .navbar_wrap{
        display: none;
    }
    /*.navbar{
        margin-left: 7%;
        margin-right: 7%;
        margin-top: 20%;
        height: 4vw;
    }*/
    #pai{
        /* min-width: 300px; */
        min-width: 275px;
    }

    .pic_wrap[data-landmark="yes"]{
        height: 100px;
    }
    .font_footer{
        font-size: 0.5rem;
    }
}
