@import url('https://fonts.googleapis.com/css2?family=Maitree&display=swap');
body{
    padding: 0;
    margin: 0;
    height: 100%;
}

/*.bg{
    background-image: url(https://cdn.discordapp.com/attachments/1036292452883107891/1036703409241342062/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    height: 100vh;
}*/

#container{
    background-image: url(https://cdn.discordapp.com/attachments/1036292452883107891/1036703409241342062/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/*.header{
    width: 100%;
    align-items: center;
}*/

.logo{
    margin-left: 7%;
    margin-top: 2%;
    position: absolute;
}


/*.img_place1{
    transition: 0.3s;
}

.img_place1:hover{
    transform: translateY(-0.5rem);
}*/


.place1{
    left: 52%;
    top: 7%;
    cursor: pointer;
    position: absolute;
    text-align: center;
}

.history{
    left: 25%;
    top: 35%;
    cursor: pointer;
    position: absolute;
    text-align: center;
}

.place2{
    left: 73%;
    top: 15%;
    cursor: pointer;
    position: absolute;
    text-align: center;
}

.place3{
    left: 73%;
    top: 15%;
    cursor: pointer;
    position: absolute;
    text-align: center;
}

.place4{
    left: 54%;
    top: 52%;
    cursor: pointer;
    position: absolute;
    text-align: center;
}

.place5{
    left: 20%;
    top: 64.5%;
    cursor: pointer;
    position: absolute;
    text-align: center;
}

.place6{
    left: 70%;
    top: 70%;
    cursor: pointer;
    position: absolute;
    text-align: center;
}

.img_logo,.img_place{
    transition: 0.3s;
    max-width: 100%;
    width: 80%;
    height: auto;
}


.img_place:hover{
    transform: translateY(-8px);
}

.title{
    color: black;
    font-size: 25px;
    font-family: 'Maitree', serif;
    font-weight: bold;
}

.people{
    position: absolute;
    width: 12%;
    top: 49%;
    left: 15%;
    animation: forward 3s linear;
}

.img_people{
    width: 85%;
}


@media screen and (min-width: 1560px){
    .img_logo,.img_place,.img_people{
        width: 100%;
    }
    .people{
        top: 50%;
        left: 5%;
    }
    #uncle{
        top: 50%;
        left: 5%;
    }
}


@media screen and (max-width:1080px){
    .img_logo,.img_place,.img_people{
        width: 70%;
    }

    .title{
        font-size: 20px;
    }

    .place1{
        left: 57%;
        top: 9%;
    }

    .history{
        left: 10%;
        top: 38%;
    }

    .place3{
        left: 77%;
        top: 28%;
    }

    .place4{
        left: 52%;
        top: 60%;
    }

    .place5{
        left: 4%;
        top: 68%;
    }

    .place6{
        left: 75%;
        top: 80%;
    }

}


@media screen and (max-width:576px){
    .img_logo{
        width: 45%;
        padding-top: 5%;
    }
    .img_place{
        width: 70%;
    }
    .img_people{
        width: 60%;
    }
    .people{
        width: 50%;
        left: 1%;
        margin-top: 65%;
    }
    #uncle{
        width: 50%;
    }
    .title{
        font-size: 15px;
    }

    .place1{
        left: 55%;
        top: 9%;
    }

    .history{
        left: 0%;
        top: 25%;
        width: 40%;
    }

    .place3{
        left: 65%;
        top: 30%;
    }

    .place4{
        left: 35%;
        top: 68%;
        width: 42%;
    }

    .place5{
        left: 1%;
        top: 56%;
        width: 45%;
    }

    .place6{
        left: 10%;
        top: 78%;
    }

    .people{
        top: 40%;
        
    }

}

